.MoreActionsButtonWrapper {
    position: relative;
    display: inline-block;
}

.MoreActionsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: var(--primary-bg);
    transition: 0.35s all ease;
}

.MoreActionsButton svg circle {
    transition: 0.35s all ease;
}

.MoreActionsButtonWrapper.active .MoreActionsButton{
    background-color: var(--primary-focus);

}

.MoreActionsButtonWrapper.active .MoreActionsButton svg circle {
    fill: #fff;
}


.MoreActionsPopup {
    position: absolute;
    padding: 8px 16px;
    bottom: -5px;
    transform: translateY(100%);
    background-color: #fff;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: 0.35s all ease;
    right: 0;
    box-shadow: 0 3px 12px -1px rgba(28, 52, 84, 0.1), 0 2px 4px -1px rgba(28, 55, 90, 0.05);
}

.MoreActionsPopup button {
    margin: 2px 0;
    width: 100%;
}

.MoreActionsPopup a {
    width: 100%;
    margin: 2px 0;
}

.MoreActionsButtonWrapper.active .MoreActionsPopup{
    opacity: 1;
    pointer-events: all;
}
