// just remove an example form the name of the file
// and uncomment these endpoints

# REACT_APP_GRAPH_QL_ENDPOINT=http://127.0.0.1:3000/graphql
# REACT_APP_IMAGE_ENDPOINT=http://127.0.0.1:3000/image_uploader
# REACT_APP_GRAPH_QL_WS_ENDPOINT=ws://127.0.0.1:3000/cable