<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link rel='icon' href='./favicon.jpg' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='apple-touch-icon' href='./favicon.jpg' />
    <link rel='manifest' href='./favicon.jpg' />
    <title>Admin Panel 2</title>

    <%if(locals.css) {%>
        <%locals.css.forEach(el => {%>
        <link rel="stylesheet" href=<%=el%>>
        <%})%>
    <%}%>

    <script type="text/javascript">
      window._GLOBALS_ =
      <% if (!!locals.globals) { %>
      <%- JSON.stringify(locals.globals) %>
      <% } %>
    </script>
</head>
<body>
<div id='root'></div>


<%if(locals.js) {%>
    <%locals.js.forEach(el => {%>
        <script type="text/javascript" src=<%=el%> ></script>
    <%})%>
<%}%>
</body>
</html>