.filtersWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 20px;
    min-height: 36px;
    user-select: none;
}

.filtersWrapper > button {
    margin-left: 10px;
}

.filterBtn:hover .filterPopup {
    opacity: 1;
    z-index: 50;
}

.modalFilterBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    opacity: 0;
    transition: 0.25s all ease-in-out;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4)
}

.modalFilterBackground.active {
    opacity: 1;
    pointer-events: all;
}

.modalFilterItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 48px;
}

.modalFilterItem > label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 20px;
}

.modalFilter {
    background: #fff;
    padding: 48px 96px;
}

.modalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.modalButtons > button:last-child {
    margin-left: 16px;
    padding: 8px 25px;
}

.modalFilter > div.modalFilterTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--secondary-color-main);
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.modalFilter > div.modalFilterTitle svg {
    opacity: 0.5;
    transition: 0.35s all ease;
}

.modalFilter > div.modalFilterTitle svg:hover {
    opacity: 1;
    cursor: pointer;
}

.closeModal {
    background: transparent;
    border: none;
}

.deleteFilterBtn {
    background: transparent;
    border: none;
    display: flex;
    padding: 10px 0;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
}

.filtersWrapper .activeFilter:first-child {
    margin-left: 0;
}

.activeFilter {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #005AA3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCE8FF;
    padding-left: 16px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 12px;
}