:root {
    --accent-color: #00A991;
    --accent-color-hover: #00D6B5;
    --accent-color-select: #F2FDFB;
    --additional-red-default: #D21C1C;
    --secondary-color-main: #0F1F26;
    --secondary-color-default: #9FA5A8;
    --secondary-color-disable: #E7E9E9;
    --primary-text-default: #023864;
    --primary-button-default: #005AA3;
    --primary-focus: #008DFF;
    --primary-bg: #F0F8FF;
    --primary-bg-1: #CCE8FF;
    --primary-bg-3: #FAFDFF;
    --font-family: 'Gilroy', sans-serif;
    --fontSizeLG: 14px;
    --main-gradient: linear-gradient(90.33deg, #00FFD9 2.27%, #00C0FF 68.93%, #008DFF 99.69%);
    --secondary-gradient: linear-gradient(to right, var(--primary-bg) 80%, #fff)
}

input {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--secondary-color-main);
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--secondary-color-main);
}

button {
    background: none;
    border: none;
    font-family: 'Gilroy', sans-serif;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 599px) {
    input {
        font-size: 16px !important;
    }
}

@keyframes circular {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
